body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  position: relative;
}

.bottomtext{
  position: relative;
  left: 35%;
}
.googlecalendar{
  position: relative;
  left: 35%;
  height: 0;
  width: 50%;
  padding-bottom: 40%;
}

.googlecalendar iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 