html, body {
    margin: 0px;
    padding: 50px;
    background: #555;
}

canvas {
    display: block;
    margin: 0% auto;
    border-style: solid;
    border-width: 8px;
    border-color: #fff;
}

h1 {
    text-align:center;
    color: white;
}

p {
    color: white;
}
